@import 'config';
@import 'index';
@import 'addCar';
@import 'jobType';
@import 'maintLog';

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #46344E;
  font-family: $robotoCon;
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 440px;
  font-weight: 300;
  

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;


    .oiler-icon {
      width: 74px;
      filter: invert(80%) sepia(26%) saturate(4931%) hue-rotate(357deg) brightness(103%) contrast(108%);
      margin-right: 10px;
      cursor: pointer;
    }

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__name {
      font-size: 40px;
      color: $yellow;
      font-family: kodchasan, sans-serif;
      font-weight: 700;
      font-style: normal;
    }

    &__subname {
      font-size: 24px;
      color: $pink;
    }
  }
}