@import 'config';
@import 'index';
@import 'addCar';
@import 'jobType';
@import 'maintLog';
@import 'titles';

body {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // background-color: #46344E;
  background-color: #4C3158;
  font-family: $robotoCon;
  color: white;
  height: 1060px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 440px;
  min-width: 300px;
  font-weight: 300;
  margin: 0 auto;
}