@import 'config';
@import 'index';
@import 'addCar';
@import 'jobType';
@import 'maintLog';
@import 'titles';

body {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  background-color: #46344E;
  font-family: $robotoCon;
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 440px;
  font-weight: 300;
  margin: 0 auto;
}